*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-style: inherit;
}
section{
    width: 100%;
    height: 100vh;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}
.container{
    width: 90% ;
    max-width:500px ;
    margin: 6px auto;
    padding: 50px;
    box-shadow:0 0 20px black ;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;

}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group>input,
.form-group> textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px ;
    border: 1px solid rgba(128,128,128,0.199);
    margin-top: 5px;
}
textarea{
    resize: vertical;
}
button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 16px;
    border-radius: 8px;
    font-family: sans-serif;
    color: rgba(27,166,247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition:.3s ease background-color ;

}
button[type="submit"]:hover{
    background-color: rgba(124,226,236);
}
#status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success{
    background-color: rgba(211,250,153);
    animation: status 4s ease  forwards ;



}
#status.error{
    background-color: rgba(250,129,92);
    color: azure;
    animation: status 4s ease  forwards ;

}
@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: 1;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}














